$purple_color: #6c63ff;
$white_color: #f9f9f7;
$purple_ligth_color: #c3c1e5;

@mixin flex($fd, $ai, $gap) {
	display: flex;
	flex-direction: $fd;
	align-items: $ai;
	gap: $gap;
}

@mixin input_btn($border, $br, $pad) {
	display: block;
	border: $border;
	border-radius: $br;
	padding: $pad;
}

@mixin img() {
	background-repeat: no-repeat;
	background-size: contain;
}

.wrapper {
	@include flex(column, center, 0);
	width: 750px;
	margin: 0 auto;

	h1 {
		color: #474747;
		font: 500 26px Kanit;
		margin-top: 15px;
	}

	.empty {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 20px;

		margin-top: 40px;

		h2 {
			color: rgb(37, 37, 37);
			font: 400 20px Kanit;
			text-transform: capitalize;
			text-align: center;
		}
	}

	.toDoListItems {
		@include flex(column, center, 15px);
		margin-top: 15px;
		.todoItemWrap {
			@include flex(column, center, 15px);
			.todoItem {
				@include flex(row, center, 25px);
				width: 520px;

				button {
					@include input_btn(1px solid $purple_color, 5px, 10px 15px);
					background-color: $purple_color;
					color: $white_color;
					font: 500 16px Kanit;
					cursor: grab;
				}
				.img {
					object-fit: cover;
					border-radius: 50%;
				}

				.def {
					&:nth-child(4) {
						width: 256px;
						color: black;
						font: 500 20px Kanit;
						text-transform: uppercase;
					}

					&:nth-child(3) {
						width: 389px;
						color: $purple_ligth_color;
						font: 500 20px Kanit;
						text-transform: uppercase;
					}
				}
			}
		}
	}
}
